# Frontend / Convex
VITE_CONVEX_URL=
VITE_CONVEX_SITE_URL=

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
VITE_CLERK_PUBLISHABLE_KEY=
CLERK_JWT_ISSUER_DOMAIN=
CLERK_APPLICATION_ID=convex
CLERK_SECRET_KEY=
CLERK_ONBOARDING_SECRET=

# App / integrations
ADMIN_SETUP_TOKEN=
RESEND_API_KEY=
